*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Coffee-Shop.jpg);
    background-size: cover;
    background-position: center;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10%;
    background: rgb(93, 52, 22);
    opacity: .7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header .logo{
    position: relative;
    max-width: 120px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
header ul li a{
    display: inline-block;
    color: wheat;
    font-size: 40px;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}
header ul li a:hover{
    color: black
}
.content{
    position: relative;
    width: 100%;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color:wheat;
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 500;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}
.content .textBox h2 span
{
    color:rgb(167, 110, 70);
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: wheat;
    font-size: x-large;
    font-style: initial;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.2s;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(167, 110, 70);
    color: rgb(245, 222, 179);
    border-radius: 40px;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0 0 5px rgb(167, 110, 70),
        0 0 25px rgb(167, 110, 70);
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.8s;
}
.textBox a:hover{
    background:  wheat;
    color: rgb(93, 52, 22);
    box-shadow: 0 0 20px rgb(167, 110, 70);
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    margin-top: 50px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2.2s;
}
.content .imgBox img{
    max-height: fit-content;
    max-width: 340px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.6s;
}
.thumb li :hover
{
    transform: translateY(-10px);
}
.thumb li img{
    max-width: 60px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(167, 110, 70);
    opacity: 0.6;
    clip-path: circle(600px at right 800px);
}
.order{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.order-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
    color: wheat;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.order-text h2 span{
    color: rgb(167, 110, 70);
}
.order-list{
   margin-top: 3rem;
   opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.2s;
}
.order-list li{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    color: wheat;
}
.order-list li{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    color: wheat;
}
.order-list i{
    display: inline-block;
    color: rgb(167, 110, 70);
    font-size: 30px;
    font-weight: 600;
    transition: all .40s ease;
}
.order-list li a:hover{
    transform: scale(1.04) translateY(-5px);
    color: wheat;
}

.order-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(167, 110, 70);
    border-radius: 50%;
    font-size: 20px;
    color: wheat;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    box-shadow: 0 0 5px rgb(167, 110, 70),
        0 0 25px rgb(167, 110, 70);
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.6s;
}
.order-icons a:hover{
    background:  wheat;
    color: rgb(93, 52, 22);
    box-shadow: 0 0 20px rgb(167, 110, 70);
}
.order-form form{
    padding-top: 20%;
    position: relative;
}
.order-form form input,form select,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: rgb(93, 52, 22);
    opacity: .7;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .5rem;
    border-radius: .5rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.2s;
}
.order-form textarea{
    resize: none;
    height: 220px;
}
.order-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: rgb(167, 110, 70);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(245, 222, 179);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600; 
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.6s;
    box-shadow: 0 0 5px rgb(167, 110, 70),
        0 0 25px rgb(167, 110, 70);
}
.order-form form .send:hover{
    background:  wheat;
    color: rgb(93, 52, 22);
    box-shadow: 0 0 20px rgb(167, 110, 70);
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}